{% extends "layout.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block styles %}
h2:before {
  content: "## ";
}
h3:before {
  content: "### ";
}
h4:before {
  content: "#### ";
}
{% endblock %}
{% block scripts %}
hljs.highlightAll();
document.addEventListener("DOMContentLoaded", function() {
  var h1 = document.querySelectorAll('body main h1');
  h1.forEach(function(element) {
    element.classList.add('text-xl','font-bold');
  });

  var h2 = document.querySelectorAll('body main h2');
  h2.forEach(function(element) {
    element.classList.add('text-lg','font-bold', 'py-2');
  });

  var h3 = document.querySelectorAll('body main h3');
  h3.forEach(function(element) {
    element.classList.add('text-base','font-bold', 'py-2');
  });

  var p = document.querySelectorAll('body main p');
  p.forEach(function(element) {
    element.classList.add('text-sm','text-gray-600', 'py-2');
  });

  var a = document.querySelectorAll('body main a');
  a.forEach(function(element) {
    element.classList.add('text-sm','text-blue-600','hover:text-blue-800');
  });

  var ul = document.querySelectorAll('body main ul');
  ul.forEach(function(element) {
    element.classList.add('list-disc','list-outside','pl-4');
  });

  var ol = document.querySelectorAll('body main ol');
  ol.forEach(function(element) {
    element.classList.add('list-decimal','list-outside','pl-4');
  });

  var li = document.querySelectorAll('body main li');
  li.forEach(function(element) {
    element.classList.add('text-sm','text-gray-600', 'pt-1');
  });

  var pre = document.querySelectorAll('body main pre');
  pre.forEach(function(element) {
    element.classList.add('py-4','text-sm');
  });

  var code = document.querySelectorAll('body main code');
  code.forEach(function(element) {
    element.classList.add('hljs');
  });

  var blockquote = document.querySelectorAll('body main blockquote');
  blockquote.forEach(function(element) {
    element.classList.add('text-sm', 'italic', 'font-semibold', 'text-gray-600', 'border-l-4', 'border-gray-400', 'pl-3', 'py-2');
  });

  var table = document.querySelectorAll('body main table');
  table.forEach(function(element) {
    element.classList.add('w-full','text-sm','text-left','rtl:text-right', 'text-gray-500', 'py-2');
  });

  var thead = document.querySelectorAll('body main table thead');
  thead.forEach(function(element) {
    element.classList.add('text-xs','text-gray-700','uppercase','bg-gray-50');
  });

  var thead_th = document.querySelectorAll('body main table thead tr th');
  thead_th.forEach(function(element) {
    element.classList.add('px-6','py-3', 'text-xs');
    element.setAttribute('scope', 'col');
  });

  var tbody_td = document.querySelectorAll('body main table tbody tr td');
  tbody_td.forEach(function(element) {
    element.classList.add('px-6','py-3', 'text-xs');
  });

  var tbody_tr = document.querySelectorAll('body main table tbody tr');
  tbody_tr.forEach(function(element) {
      element.classList.add('border-b');
    });
  });
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>
<meta property="og:url" content="{{ page.url }}{{ page.url_path }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:site_name" content="{{ page.title }}" />
<meta property="og:image" content="https://ogpgen.ucpr.workers.dev/?text={{ page.title }}&author=@ucpr&title=ucpr.dev" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@u_chi_ha_ra_" />
{% endblock %}
{% block body %}
  {% autoescape false %}
    {{ page.content }}
  {% endautoescape %}
{% endblock %}
