{% extends "layout.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block styles %}
h2:before {
  content: "## ";
}
h3:before {
  content: "### ";
}
h4:before {
  content: "#### ";
}
{% endblock %}
{% block scripts %}
hljs.highlightAll();
document.addEventListener("DOMContentLoaded", function() {
  var h1 = document.querySelectorAll('body main h1');
  h1.forEach(function(element) {
    element.classList.add('text-xl','font-bold');
  });

  var h2 = document.querySelectorAll('body main h2');
  h2.forEach(function(element) {
    element.classList.add('text-lg','font-bold', 'pt-2');
  });

  var p = document.querySelectorAll('body main p');
  p.forEach(function(element) {
    element.classList.add('text-sm','text-gray-600', 'pt-2');
  });

  var a = document.querySelectorAll('body main a');
  a.forEach(function(element) {
    element.classList.add('text-sm','text-blue-600','hover:text-blue-800','pr-4');
  });

  var ul = document.querySelectorAll('body main ul');
  ul.forEach(function(element) {
    element.classList.add('list-disc','list-outside','pl-4');
  });

  var pre = document.querySelectorAll('body main pre');
  pre.forEach(function(element) {
    element.classList.add('pt-2','text-sm');
  });
});
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>
{% endblock %}
{% block body %}
  {% autoescape false %}
    {{ page.content }}
  {% endautoescape %}
{% endblock %}
