{% extends "layout.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block body %}
{% include "components/profile.html" %}

{% with has_limit = true %}
{% include "components/articles.html" %}
{% endwith %}

{% if page.profile.spotify_playlist_id is not none %}
<div>
  <h2 class="text-xl font-bold underline py-3">
    Playlist
  </h2>
  <iframe title="spotify playlist" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ page.profile.spotify_playlist_id }}?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
{% endif %}

{% endblock %}
