<!doctype html>
<html>
  <head>
    <title>{% block title %}some website{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <script>{% block scripts %}{% endblock %}</script>
    <style>
      body {
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
      }
      {% block styles %}{% endblock %}
    </style>
  </head>
  <body class="max-w-xl mx-auto">
    {% include "components/header.html" %}

    <main class="p-4">
      {% block body %}{% endblock %}
    </main>

    {% include "components/footer.html" %}
  </body>
</html>
